@use "../abstracts/reset";
@use "../abstracts/colors";
@use "../abstracts/fonts";

* {
  font-family: fonts.$overpass;
}

html {
  font-size: 62.5%;
}

body {
  background: colors.$dark-blue-100;
  padding: 2.4rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  background: colors.$dark-blue-gradient;
  min-width: 32.7rem;
  max-width: 41.2rem;
  padding: 2.4rem;
  border-radius: 1.5rem;

  figure {
    display: flex;
    justify-content: center;
    margin-bottom: 2.4rem;

    img {
      width: 14.4rem;
    }
  }

  .result {
    width: fit-content;
    padding: 0.6rem 1.2rem;
    background: colors.$dark-blue-50;
    border-radius: 2.25rem;
    margin-inline: auto;
    font-size: 1.4rem;
    color: colors.$orange;
    margin-bottom: 2.4rem;
  }

  .thanks {
    text-align: center;

    h1 {
      font-size: 2.4rem;
      color: colors.$white;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.4rem;
      line-height: 2.2rem;
      color: colors.$light-gray;
    }
  }
}

@media (min-width: 500px) {
  section {
    padding: 3.6rem;

    figure {
      margin-bottom: 3.2rem;

      img {
        width: 16.2rem;
      }
    }

    .result {
      padding: 0.6rem 2rem;
      margin-bottom: 3.2rem;

      p {
        font-size: 1.5rem;
      }
    }

    .thanks {
      h1 {
        font-size: 2.8rem;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }
}
