$orange: #FC7614;
$white: #FFF;
$light-gray: #969FAD;
$medium-gray: #7C8798;
$dark-blue-50: #262E38;
$dark-blue-100: #131518;
$dark-blue-gradient: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);